@mixin button {
    background-color: plum;
    color: white;
    width: 7vw;
    height: 5vh;
    border: none;
    box-shadow: 2px 4px 10px lightgray;
    cursor: pointer;
}

@mixin container {
    width: 100%;
    height: 100px;
    border: 2px solid green;
}

@mixin rectangle {
    width: 10%;
    height: 100%;
    background: black;
}

.content {
    width: 100%;
    .title {
        color: greenyellow;
    }

    .sortButton {
        @include button;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        min-height: 5vh;
        margin-bottom: 15vh;

        .dropdown-content {
            display: none;
            position: absolute;
            top: 5vh;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            height: 20vh;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropbtn {
            @include button;
            position: relative;
            z-index: 3;
        }

    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .animations {
        .container {
            @include container;

            .rectangle {
                @include rectangle;
                animation: move 5s ease-in-out infinite;
            }

            @keyframes move {
                0% {
                    transform: translate(0);
                }

                50% {
                    transform: translate(900%);
                }

                100% {
                    transform: translate(0);
                }
            }
        }

        .containerTrans {
            @include container;

            &:hover {
                .rectangleTrans {
                    transform: translate(900%);
                }
            }

            .rectangleTrans {
                @include rectangle;
                transition: transform 2s ease-in-out;
            }
        }

        .containerTimeout {
            @include container;

            .rectangleTimeout {
                @include rectangle;
                transition: 2s ease-in-out;
            }

            .move {
                transform: translate(900%);
            }
        }

        .reqContainer {
            @include container;

            .reqRect {
                @include rectangle;
                animation: none;
            }
        }
    }

    #rickMortyList {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em;
    }
}

@media screen and (max-width: 600px) {
    .content {
        .dropdown {
            .dropbtn {
                width: 25vw;
            }
        }
    }
}